.inputStyle {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  boxSizing: border-box;
}

.formStyle {

}

.wrapperStyle {
  width: 50vw;
  margin: 0 auto;
}
